apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: default
  source:
    path: ./kubernetes/generated/medium-format/argocd
    repoURL: https://github.com/achernya/homelab.git
    targetRevision: nixidy
  syncPolicy: {}
