- name: Ensure /usr/local/bin exists
  ansible.builtin.file:
    path: /usr/local/bin
    state: directory
    mode: '0755'

- name: Download k3s
  ansible.builtin.get_url:
    url: "https://github.com/k3s-io/k3s/releases/download/v1.33.4%2Bk3s1/k3s"
    checksum: "sha256:10da34c350ab8a02e4513a6021046db9e9afecc31bae77419bc6444cbd7b1400"
    dest: "/usr/local/bin/k3s"
    mode: 0755

- name: Set up k3s symlinks
  ansible.builtin.file:
    src: "/usr/local/bin/k3s"
    dest: "/usr/local/bin/{{ item }}"
    state: link
  loop:
    - crictl
    - ctr
    - kubectl
    
- name: Ensure /var/lib/rancher/k3s/agent/images/ exists
  ansible.builtin.file:
    path: /var/lib/rancher/k3s/agent/images/
    state: directory
    mode: '0755'

- name: Download k3s airgap images
  ansible.builtin.get_url:
    url: "https://github.com/k3s-io/k3s/releases/download/v1.33.4%2Bk3s1/k3s-airgap-images-amd64.tar.zst"
    checksum: "sha256:1a3738a77c4a3fef4a85c16d7f2eadcd337605f9279fcddbc3eb4f982fbd2238"
    dest: "/var/lib/rancher/k3s/agent/images/k3s-airgap-images-amd64.tar.zst"

- name: Install k3s systemd files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/etc/systemd/system/{{ item }}"
  loop:
    - k3s.service
    - k3s.service.env

- name: Enable and start k3s
  ansible.builtin.systemd_service:
    name: k3s.service
    daemon_reload: true
    enabled: true
    state: started
