apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app.kubernetes.io/name: generic-device-plugin
  name: generic-device-plugin
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: generic-device-plugin
  template:
    metadata:
      labels:
        app.kubernetes.io/name: generic-device-plugin
    spec:
      containers:
        - args:
            - --device
            - |
              name: gpu-render
              groups:
                - count: 8
                  paths:
                    - path: /dev/dri/render*
          image: squat/generic-device-plugin
          name: generic-device-plugin
          ports:
            - containerPort: 8080
              name: http
          resources:
            limits:
              cpu: 50m
              memory: 20Mi
            requests:
              cpu: 50m
              memory: 10Mi
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /var/lib/kubelet/device-plugins
              name: device-plugin
            - mountPath: /dev
              name: dev
      priorityClassName: system-node-critical
      tolerations:
        - effect: NoExecute
          operator: Exists
        - effect: NoSchedule
          operator: Exists
      volumes:
        - hostPath:
            path: /var/lib/kubelet/device-plugins
          name: device-plugin
        - hostPath:
            path: /dev
          name: dev
  updateStrategy:
    type: RollingUpdate
